@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

@import './base.css';
@import './layout.css';
@import './components.css';
@import './animations.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
